{
  "presets": [
    "react",
    [ "env", {
     "targets": {
       "browsers": "> 2%"
     }
   }]
 ],
 "plugins": [
   [
     "transform-strict-mode",
     {"strict": true}
   ],
   "transform-object-rest-spread",
   "transform-class-properties"
	]
}
